* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: rgb(226, 88, 88);
  padding: 20px;
  height: 170px;
}
.header h1 {
  color: #fff;
  width: 150px;
  margin-bottom: 10px;
}
.main {
  background-color: rgb(226, 89, 89);
  padding: 20px;
  color: #fff;
  line-height: 30px;
  height: 70vh;
}
.main ul {
  padding-left: 20px;
  list-style: square;
  height: 15vh;
}
.img {
  width: 300px;
  height: 250px;
}
.footer {
  background-color: rgb(226, 88, 88);
  text-align: center;
  padding: 20px 0;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
